# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
